#
# SISPA-install-settings.cfg
#

ROOT_DIR = /usr/local/VHTNGS

REF_FILES = corona_virus.tgz,hadv.tgz,jev.tgz,mpv.tgz,norv.tgz,rota_virus.tgz,rsv.tgz,veev.tgz,vzv.tgz,yfv.tgz
REF_URL = https://raw.github.com/rsanka/rsanka-repo/master/refs

RUBYLIB_URL = https://raw.github.com/rsanka/rsanka-repo/master/tools/RUBYLIB/RUBYLIB.tgz
RUBYLIB_TARBALL = RUBYLIB.tgz

BINARIES_URL = https://raw.github.com/rsanka/rsanka-repo/master/tools/BINARIES/BINARIES.tgz
BINARIES_TARBALL = BINARIES.tgz
