#
# SISPA-install-settings.cfg
#

ROOT_DIR = /usr/local/VHTNGS

BINARIES_URL = https://raw.github.com/rsanka/rsanka-repo/master/tools/BINARIES/BINARIES.tgz
BINARIES_TARBALL = BINARIES.tgz

PERL_URL = https://raw.github.com/rsanka/rsanka-repo/master/tools/PERL/PERL.tgz
PERL_TARBALL = PERL.tgz

RUBYLIB_URL = https://raw.github.com/rsanka/rsanka-repo/master/tools/RUBYLIB/RUBYLIB.tgz
RUBYLIB_TARBALL = RUBYLIB.tgz

SFF_URL = https://raw.github.com/rsanka/rsanka-repo/master/tools/SFF/SFF.tgz
SFF_TARBALL = SFF.tgz

REF_URL = https://github.com/downloads/rsanka/rsanka-repo
REF_FILES = corona_virus,hadv,jev,mpv,norv,rota_virus,rsv,veev,vzv,yfv
